
.main {
  display: flex;
 background: linear-gradient(180deg, #373E44 -100%, #191B1F 100%);
  color: #dcdcdc;
  font-family: 'Arial', sans-serif;
  height: 890px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5);
}
.app-container {
  display: flex;
 height: 100vh;
  background-color: #282828;
  color: #dcdcdc;
  font-family: 'Arial', sans-serif;
}

.left-empty-space {
  width: 50%;
  height: 100%;
  background-color: #282828;
}

.widgets-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tabs-widget, .gallery-widget {
  background-color: #4a4a4a;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.tabs-header button, .gallery-header button {
  background-color: #616161;
  color: #dcdcdc;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.tabs-content, .gallery-content {
  margin-top: 20px;
}

.image-wrapper {
  background-color: #4a4a4a;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .left-empty-space, .widgets-container {
    width: 100%;
  }
}
